/LogClient.IAB
/LogClient.IAD
/LogClient.IMB
/LogClient.IMD
/LogClient.PFI
/LogClient.PO
/LogClient.PR
/LogClient.PRI
/LogClient.PS
/client

LogClient.SearchResults
/Build/LogClient/Debug
/Build/LogClient/LogClient.opensdf
/Build/LogClient/LogClient.sdf
/*.WK3
*.SearchResults

*.tlog
Release
*.sdf
/TraceWorker/Debug
*.opensdf
*.ipch

/TraceWorker/ipch
*.d
*.o
/build
*.pyc
/TraceWorker.IAB
/TraceWorker.IAD
/TraceWorker.IMB
/TraceWorker.IMD
/TraceWorker.PFI
/TraceWorker.PO
/TraceWorker.PR
/TraceWorker.PRI
/TraceWorker.PS
/buildWin/libTraceWorker.dll
/buildWin/libTraceWorker.dll.a
/buildWin/Makefile
/buildWin/CMakeFiles
/buildWin/cmake_install.cmake
/buildWin/CMakeCache.txt
